blockquote p{
    padding:10px 50px;
    /*margin:auto; 不需要了
    width:500px;*/
}
blockquote p:first-child{
    background:url(open-quote.gif) no-repeat scroll left top;
}
blockquote{
    background:url(close-quote.gif) no-repeat scroll right bottom;
    /*width:600px;不需要了*/
    display:inline-block;/*定义为内联块级元素，这样其默认宽不会是整个浏览器的宽度了
  而是适应内容的变化而动态的变化。 这步是修改的关键一步，关键在于inline-block的运用
*/
}